<nav id="navbar" class="navbar is-spaced">
  <div class="container">
    <div class="navbar-brand">
      <div class="navbar-item cursor-pointer focus: outline-none border-transparent" routerLink="/">
        <img class="navbar-logo" src="./assets/Prysm.svg" />
        <span class="font-bold p-2">Prysmatic Labs</span>
      </div>


      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false" (click)="toggleMenu()"
        [ngClass]="menuStatus ? 'is-active':''">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu" [ngClass]="menuStatus ? 'is-active':''">
      <div class="navbar-start">
        <a class="navbar-item" href="http://github.com/prysmaticlabs/geth-sharding">
          <span><fa-icon [icon]="faGithub"></fa-icon> Github</span>
        </a>
        <a class="navbar-item" href="https://medium.com/prysmatic-labs">
          <span><fa-icon [icon]="faMedium"></fa-icon> Blog</span>
        </a>
        <a class="navbar-item" href="https://twitter.com/prylabs">
          <span><fa-icon [icon]="faTwitter"></fa-icon> Twitter</span>
        </a>
        <a class="navbar-item" href="http://gitter.im/prysmaticlabs/geth-sharding?source=orgpage">
          <span><fa-icon [icon]="faGitter"></fa-icon> Gitter</span>
        </a>
        <a class="navbar-item" href="https://discord.gg/KSA7rPr">
          <span><fa-icon [icon]="faDiscord"></fa-icon> Discord</span>
        </a>
      </div>
    </div>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="footer bg-black">
  <div class="container text-white">
      © Copyright 2018 Prysmatic Labs
  </div>
</footer>