.team-container {
  padding-bottom: 5%
}

.team-card-container {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team-member {
  display: inline-block;
  width: 200px;
  height: 300px;
  margin-bottom: 4%;
  position: relative;
  line-height: 1.3;
  top: 0;
  transition: top 0.5s ease;
}

.team-member:hover {
  top: -20px;
}

.team-member a img {
  height: auto;
  width: 200px;
  transition: opacity 100ms;
}

.team-member a:hover img{
  opacity: 0.1;
}

.team-member a span {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  top: 25%;
  color: white;
  opacity: 0;
}

.team-member a:hover span {
  opacity: 1;
}

.team-member-title {
  font-size: 16px;
}

.team-member-info {
  font-size: 16px;
}

@media only screen and (max-width: 975px) {
  .team-container {
    justify-content: center;
  }

  .team-card-container {
    justify-content: center;
  }

  .team-member {
    margin-right: 2%;
    margin-bottom: 12%;
    width: 60%;
    height: auto;
  }

  .team-member a img {
    height: auto;
    width: 100%;
    transition: opacity 100ms;
  }
}