.intro-container {
  display: flex;
  justify-content: space-between;;
}

.big-logo {
  margin-top: 16px;
  text-align: center;
  font-size: 36px;
}

.big-logo > img {
  height: 300px;
}

.big-logo > h1 {
    margin-bottom: 0;
}

.intro {
  width: 60%;
}

.intro h2 {
  color: #52b0f8;
}

.subscribe {
  display: flex;
  flex-wrap: wrap-reverse;
  margin-top: 16px;
}

.subscribe button {
  display: flex;
  align-items: middle;
  margin-right: 20px;
  padding: 12px 12px;
  border: 0 none;
  border-radius: 4px;
  margin-bottom: 4px;
  text-align: center;
  transition: all  150ms linear;

  font-size: 22px;
  color: white;
  
  cursor: pointer;
  user-select: none;
}

.subscribe button img {
  padding-left: 10px;
  height: 32px;
  width: auto;
}

.subscribe button:hover {
  opacity: 0.85;
  transform: scale(1.1);

}

.subscribe .mail-button {
  background-color: #52b0f8;
}

.subscribe .gitter-button {
  background-color: #eb4a9d;
}

.subscribe-form {
  margin: 8px 0px;
}

.subscribe-form div {
  font-size: 16px;
}

.subscribe-input {
  display: inline;
  align-items: middle;
  margin-right: 20px;
  padding: 12px 12px;
  border: 0 none;
  border-radius: 4px;
  font-size: 18px;
}

.subscribe-exit {
  cursor: pointer;
}

.subscribe-status {
  margin-top: 4px;
}

@media only screen and (max-width: 975px) {
  .intro {
    width: 100%;
    font-size: 72px;
  }

  .intro-container {
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  .big-logo {
    font-size: 26px;
  }

  .big-logo img {
    align-items: center;
    height: auto;
    width: 100%;
  }

  .subscribe, .subscribe-form {
    justify-content: center;
  }

  .subscribe-input {
    margin-right: 4px;
  }
}