nav {
    border-bottom: 5px solid #eb4a9d;
}

.discord-button {
    border-radius: 3px;
}

.career-link {
    color: #eb4a9d;
}

.contract-announcement {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contract-announcement a {
    color: #eb4a9d;
    font-weight: bold;
}

.persistent-banner {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
}

.persistent-banner .link{
    text-decoration: underline;    
    white-space: nowrap;
}

.persistent-banner .link:hover{
    color: #db0076;    
}