<nav id="navbar" class="navbar is-spaced">
  <div class="container">
    <div class="navbar-brand">
      <div class="navbar-item cursor-pointer focus: outline-none border-transparent" routerLink="/">
        <img class="navbar-logo" src="./assets/Prysm.svg" />
        <span class="font-bold p-2">Prysmatic Labs</span>
      </div>


      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false" (click)="toggleMenu()"
         [ngClass]="menuStatus ? 'is-active':''">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu" [ngClass]="menuStatus ? 'is-active':''">
      <div class="navbar-start">
        <a class="navbar-item" href="#projects">
          Projects
        </a>
        <a class="navbar-item" href="#team">
          Team
        </a>
        <a class="navbar-item" href="#news">
          News
        </a>
        <a *ngIf="showCareers()" class="navbar-item" routerLink="/careers">
          Careers
        </a>
        <a class="navbar-item" href="https://github.com/prysmaticlabs/prysm" target="_blank">
          Github
        </a>
        <a class="navbar-item" href="https://docs.prylabs.network" target="_blank">
          Read the Docs
        </a>
      </div>
      <div class="navbar-end">
        <a class="bg-discord shadow-md is-hidden-touch discord-button bg-discord px-5 py-3" href="https://discord.gg/YMVYzv6">
          <span class="text-white">
            <fa-icon [icon]="faDiscord"></fa-icon> Join Our Discord
          </span>
        </a>
      </div>
    </div>
  </div>
</nav>
