<footer class="footer bg-black">
    <div class="container text-white flex is-mobile">
    <span class="flex is-hidden-touch">
      <a class="navbar-item" href="http://github.com/prysmaticlabs/prysm">
        <span>
          <fa-icon [icon]="faGithub"></fa-icon> Github
        </span>
      </a>
      <a class="navbar-item" href="https://medium.com/prysmatic-labs">
        <span>
          <fa-icon [icon]="faMedium"></fa-icon> Blog
        </span>
      </a>
      <a class="navbar-item" href="https://twitter.com/prylabs">
        <span>
          <fa-icon [icon]="faTwitter"></fa-icon> Twitter
        </span>
      </a>
      <a class="navbar-item" href="http://gitter.im/prysmaticlabs/prysm">
        <span>
          <fa-icon [icon]="faGitter"></fa-icon> Gitter
        </span>
      </a>
      <a class="navbar-item" href="https://discord.gg/KSA7rPr">
        <span>
          <fa-icon [icon]="faDiscord"></fa-icon> Discord
        </span>
      </a>
    </span>

    </div>
    <div class="container text-white ">
        <div class="mt-auto">
            © Copyright 2019 Prysmatic Labs
        </div>
    </div>
</footer>
