<footer>
    <div class="bg-near-pitch-black prysmatic-footer text-sm">
        <div class="px-12 pt-8 pb-12 container text-white flex flex-wrap">
            <div class="w-full md:w-1/4">
                <p class="my-4">{{ 'Footer.Company' | translate }}</p>
                <div class="py-1" *ngIf="showCareers()">
                    <a class="text-grey-dark" routerLink="/careers">
                        {{ 'Footer.Careers' | translate }}
                    </a>
                </div>
                <div class="py-1">
                    <a class="text-grey-dark" href="#news">
                        {{ 'Footer.Media' | translate }}
                    </a>
                </div>
                <div class="py-1">
                    <a class="text-grey-dark"
                        href="https://gitcoin.co/explorer?applicants=ALL&keywords=prysmatic%20labs,prysm&order_by=-web3_created"
                        target="_blank">
                        {{ 'Footer.Bounties' | translate }}
                    </a>
                </div>
                <div class="py-1">
                    <a class="text-grey-dark" href="#donate">
                        {{ 'Footer.Donate' | translate }}
                    </a>
                </div>
                <div class="py-1">
                    <a class="text-grey-dark" href="mailto:contact@prysmaticlabs.com">
                        {{ 'Footer.ContactUs' | translate }}
                    </a>
                </div>
            </div>
            <div class="w-full md:w-1/4">
                <p class="my-4">{{ 'Footer.Community' | translate }}</p>
                <div class="py-1">
                    <a class="text-grey-dark" href="https://twitter.com/prylabs">
                        Twitter
                    </a>
                </div>
                <div class="py-1">
                    <a class="text-grey-dark" href="https://medium.com/prysmatic-labs">
                        Medium
                    </a>
                </div>
                <div class="py-1">
                    <a class="text-grey-dark" href="http://gitter.im/prysmaticlabs/prysm">
                        Gitter
                    </a>
                </div>
            </div>
            <div class="w-full md:w-1/4">
                <p class="my-4">{{ 'Footer.CodeAndProjects' | translate }}</p>
                <div class="py-1">
                    <a class="text-grey-dark" href="https://github.com/prysmaticlabs">
                        {{ 'Footer.OfficialGithub' | translate }}
                    </a>
                </div>
                <div class="py-1">
                    <a class="text-grey-dark" href="https://github.com/prysmaticlabs/prysm">
                        Prysm
                    </a>
                </div>
                <div class="py-1">
                    <a class="text-grey-dark" href="https://prylabs.net">
                        {{ 'Footer.Testnet' | translate }}
                    </a>
                </div>
                <div class="py-1">
                    <a class="text-grey-dark" href="https://github.com/prysmaticlabs/ethereumapis">
                        {{ 'Footer.Apis' | translate }}
                    </a>
                </div>
            </div>
            <div class="w-full is-hidden-touch md:w-1/4">
                <p class="my-4">{{ 'Footer.StayUpToDate' | translate }}</p>
                <p class="mb-4 text-grey-dark">{{ 'Footer.Chat' | translate }}</p>
                <div class="mt-3 pt-3">
                    <a class="discord-button bg-discord shadow-md px-10 py-3 w-full" href="https://discord.gg/YMVYzv6">
                        <span class="text-white">
                            <fa-icon [icon]="faDiscord"></fa-icon> {{ 'Footer.JoinDiscord' | translate }}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-pitch-black text-sm">
        <div class="px-12 py-4 container text-grey-darker" [innerHTML]="'Footer.Copyright' | translate"></div>
    </div>
</footer>