<footer>
    <div class="bg-black">
        <div class="px-12 py-12 container text-white flex is-mobile">
            <div class="flex-1">
                <p class="mb-4">Company</p>
                <div class="py-1">
                    <a href="http://gitter.im/prysmaticlabs/prysm">
                       About Us
                    </a>
                </div>
                <div class="py-1">
                    <a href="http://gitter.im/prysmaticlabs/prysm">
                        Media
                    </a>
                </div>
                <div class="py-1">
                    <a href="http://gitter.im/prysmaticlabs/prysm">
                        Jobs/Bounties
                    </a>
                </div>
                <div class="py-1">
                    <a href="http://gitter.im/prysmaticlabs/prysm">
                        FAQs
                    </a>
                </div>
                <div class="py-1">
                    <a href="http://gitter.im/prysmaticlabs/prysm">
                        Contact Us
                    </a>
                </div>

            </div>
            <div class="flex-1">
                <p class="mb-4">Community</p>
                <div class="py-1">
                    <a href="http://gitter.im/prysmaticlabs/prysm">
                        Read Our Blog
                    </a>
                </div>
                <div class="py-1">
                    <a href="http://gitter.im/prysmaticlabs/prysm">
                        Follow Us On Twitter
                    </a>
                </div>
                <div class="py-1">
                    <a href="http://gitter.im/prysmaticlabs/prysm">
                        Read Our Medium Updates
                    </a>
                </div>
                <div class="py-1">
                    <a href="http://gitter.im/prysmaticlabs/prysm">
                        Gitter
                    </a>
                </div>
            </div>
            <div class="flex-1">
                <p class="mb-4">Code/Projects</p>
                <div class="py-1">
                    <a href="http://gitter.im/prysmaticlabs/prysm">
                        Official Github
                    </a>
                </div>
                <div class="py-1">
                    <a class="footer-item" href="http://gitter.im/prysmaticlabs/prysm">
                        Prysm
                    </a>
                </div>
                <div class="py-1">
                    <a class="footer-item" href="http://gitter.im/prysmaticlabs/prysm">
                       Ethereum Serenity Public Testnet
                    </a>
                </div>
                <div class="py-1">
                    <a class="footer-item" href="http://gitter.im/prysmaticlabs/prysm">
                        Ethereum Serenity APIs
                    </a>
                </div>
            </div>
            <div class="flex-1">
                <p>Stay Up to Date</p>
                <p class="my-4">Chat with our team and be the first to find out about latest updates to our work on Ethereum</p>
                <div class="discord-button bg-discord shadow-md px-4 py-3 text-center">
                    <a class="bg-discord" href="https://discord.gg/KSA7rPr">
                      <span class="text-white">
                        <fa-icon [icon]="faDiscord"></fa-icon> Join Our Discord
                      </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-pitch-black">
        <div class="px-12 py-4 container text-white flex">
            © 2019 Prysmatic Labs
        </div>
    </div>
</footer>
