<nav id="navbar" class="navbar is-spaced">
  <div class="container">
    <div class="navbar-brand">
      <div class="navbar-item cursor-pointer focus: outline-none border-transparent" routerLink="/">
        <img class="navbar-logo" src="./assets/Prysm.svg" />
        <span class="font-bold p-2">Prysmatic Labs</span>
      </div>

      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false"
        (click)="toggleMenu()" [ngClass]="menuStatus ? 'is-active':''">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navMenu" [ngClass]="menuStatus ? 'is-active':''">
      <div class="navbar-start">
        <a class="navbar-item" href="#projects">
          {{ 'Header.Projects' | translate }}
        </a>
        <a class="navbar-item" href="#team">
          {{ 'Header.Team' | translate }}
        </a>
        <a class="navbar-item" href="#news">
          {{ 'Header.News' | translate }}
        </a>
        <a *ngIf="showCareers()" class="navbar-item" routerLink="/careers">
          {{ 'Header.Careers' | translate }}
        </a>
        <a class="navbar-item" href="https://github.com/prysmaticlabs/prysm" target="_blank">
          Github
        </a>
        <a class="navbar-item" href="https://medium.com/prysmatic-labs" target="_blank">
          Blog
        </a>
      </div>
      <div class="navbar-end">
        <a class="bg-discord shadow-md is-hidden-touch discord-button bg-discord px-5 py-3"
          href="https://discord.gg/YMVYzv6">
          <span class="text-white">
            <fa-icon [icon]="faDiscord"></fa-icon> {{ 'Header.JoinDiscord' | translate }}
          </span>
        </a>
        <!-- <mat-form-field>
          <mat-select name="language" (selectionChange)="onLanguageSelected($event.value)">
            <mat-option *ngFor="let lang of languages" [value]="lang.code">
              {{ lang.name }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        <mat-form-field>
          <mat-select placeholder="How Many?">
              <mat-option>One</mat-option>
              <mat-option>Two</mat-option>
              <mat-option>Three</mat-option>
              <mat-option>Four</mat-option>
              <mat-option>Five</mat-option>
          </mat-select>
      </mat-form-field>
      </div>
    </div>
  </div>
</nav>