.intro-container {
  display: flex;
  justify-content: space-between;
  padding-right: 2%;
  padding-left: 2%;
  margin-bottom: 40px;
  padding-bottom: 50px;
  border-bottom: 4px solid #eb4a9d;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  line-height: 1.7;
}

.big-logo {
  text-align: center;
  font-size: 36px;
}

.big-logo > img {
  height: 300px;
}

.intro {
  width: 60%;
}

.intro h2 {
  color: #52b0f8;
}

.subscribe {
  display: flex;
  margin-top: 60px;
}

.subscribe button {
  display: flex;
  align-items: middle;
  margin-right: 20px;
  padding: 12px 12px;
  border: 0 none;
  border-radius: 4px;
  text-align: center;
  transition: all  150ms linear;

  font-size: 22px;
  color: white;
  
  cursor: pointer;
  user-select: none;
}

.subscribe button img {
  padding-left: 10px;
  height: 32px;
  width: auto;
}

.subscribe button:hover {
  opacity: 0.85;
  transform: scale(1.1);

}

.subscribe .mail-button {
  background-color: #52b0f8;
}

.subscribe .gitter-button {
  background-color: #eb4a9d;
}

@media only screen and (max-width: 825px) {
  .intro {
    width: 100%;
    font-size: 72px;
  }

  .intro-container {
    justify-content: center;
    flex-wrap: wrap-reverse;
  }

  .big-logo {
    font-size: 26px;
  }

  .big-logo img {
    align-items: center;
    height: 55%;
    width: auto;
  }
}