<div class="md:w-1/5 pt-1">
    <img src="./assets/{{newsItem.photo}}"/>
</div>
<div class="md:w-4/5 md:pl-6">
    <div>
        <a class="text-grey-darkest" href="{{newsItem.url}}" target="_blank">
            {{newsItem.title}}
        </a>
    </div>
    <div class="text-sm text-grey-darkest">
        {{newsItem.caption}}
    </div>
    <div>
        <a class="text-sm text-grey-darkest font-bold" href="{{newsItem.url}}" target="_blank">
            {{ 'NewsItem.ReadStory' | translate }}
        </a>
    </div>
</div>