<section #colorChange class="hero is-medium planet-background prysmatic-hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds">
                    <div class="container">
                        <h1 class="title text-white is-size-1">
                            We’re building a more fair, open, and censorship-resistant Internet
                        </h1>
                        <h2 class="subtitle text-grey pt-2 text-2xl">
                            We are a passionate team of software engineers all around the world building the code behind the <b class="text-primary">Ethereum</b> blockchain
                        </h2>
                        <div class="level">
                            <a class="button is-primary is-medium text-grey-darkest" href="#projects">See Our Work</a>
                        </div>
                    </div>
                </div>
                <div class="column has-text-centered">
                    <img src="./assets/PrysmStripe.png" alt="prysm"/>
                    <h2 id="prismatic-labs-title" class="prysmatic-labs-title-color title flex justify-center is-hidden-touch" >Prysmatic Labs</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container text-center pb-0">
        <h1 class="title lg:pt-6">
            Our Expertise
        </h1>
        <img src="./assets/stripes.svg"/>
        <div class="flex justify-center pt-6 py-6">
            <div class=" md:w-1/2">
                Prysmatic Labs currently builds technical infrastructure for the Ethereum blockchain. Our mission is to increase adoption through better tooling for users and developers of the Ethereum ecosystem through our expertise.
            </div>
        </div>
        <div class="mt-6 flex flex-wrap justify-center">
           <div class="w-full md:w-1/3 pt-4">
               <div class="text-center smart-contract">
                   <img src="./assets/smartcontract.svg"/>
               </div>
               <div class="font-mini-heading font-bold pt-4">
                  Projects at the Cutting-Edge
               </div>
               <div class="py-4 px-8">
                   Our flagship project, <a class="text-primary" href="https://cryptocurrencyfacts.com/ethereum-2-0-explained/" target="_blank">Prysm</a>, is a production client for <a class="text-primary" href="https://ethereum.org/en/eth2/">Ethereum 2.0</a> anyone can freely use to participate in consensus of the blockchain.
               </div>
           </div>
            <div class="w-full md:w-1/3 pt-4">
                <div class="text-center smart-contract">
                    <img src="./assets/server.svg"/>
                </div>
                <div class="font-mini-heading font-bold pt-4">
                    Best In-Class Technology
                </div>
                <div class="py-4 px-8">
                    We believe industry standards are a must for creating robust code. We build our technologies with the best-in-class tooling and design in mind.
                </div>
            </div>
            <div class="w-full md:w-1/3 pt-4">
                <div class="text-center smart-contract">
                    <img src="./assets/world.svg"/>
                </div>
                <div class="font-mini-heading font-bold pt-4">
                    Embracing Open Source
                </div>
                <div class="py-4 px-6">
                    Our work is free, <a class="text-primary" href="https://github.com/prysmaticlabs">open source</a>, and accessible everywhere. We believe in empowering developers to build a more fair and transparent Internet.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section bg-near-pitch-black py-20">
    <div class="container">
        <div class="flex">
            <div class="w-full md:w-2/3">
                <h2 class="title text-grey">
                    <span class="text-primary">Why</span> Ethereum?
                </h2>
                <div class="text-white">
                    We are strong believers in Ethereum, a public blockchain that allows anyone to build unstoppable, censorship-resistant applications. On Ethereum, anyone can deploy software that controls digital value and is accessible around the world. Born in 2014, the Ethereum network houses over $60 billion worth of value today, hosting projects such as:
                    <ul class="py-4">
                        <li>
                            <span class="text-xl">—</span> Global, decentralized organizations
                        </li>
                        <li>
                            <span class="text-xl">—</span> Non-reserve backed, stable-value currencies
                        </li>
                        <li>
                            <span class="text-xl">—</span> Fully-open, permissionless, financial applications
                        </li>
                    </ul>
                    We believe Ethereum represents a fundamental shift in how financial systems operate and are dedicated to its mission.
                </div>
                <div class="mt-6">
                    <a class="read-more-btn bg-black-light button text-grey-light" href="https://ethereum.org" target="_blank">
                        Read More About Ethereum
                    </a>
                </div>
            </div>
            <div class="w-full md:w-1/3 text-center is-hidden-mobile">
                <div class="cloud-eth pt-10">
                    <img src="./assets/cloudeth.svg"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="projects" class="section projects-background">
    <div class="container text-center">
        <h1 class="title pt-6">
            Our Work
        </h1>
        <div class="flex justify-center pt-2 pb-4">
            <div class=" md:w-1/2">
                Our work on the <a class="text-primary font-bold" target="_blank" href="https://ethereum.org">Ethereum</a> blockchain focuses on <b>usability, security, and reliability</b> as key pillars backed by extensive testing and carefully  designed code.
            </div>
        </div>
        <div class="flex flex-wrap">
            <div class="w-full">
                <div class="main-project project-card flex flex-wrap text-left pb-0 ml-6 mb-6 mr-6 mt-8">
                    <div class="w-full lg:w-1/4 pb-0 is-hidden-touch">
                        <div class="main-project-img">
                            <img src="./assets/drawnbg.png"/>
                        </div>
                    </div>
                    <div class="w-full lg:w-3/4 pt-4 lg:pt-8 px-8 pb-8">
                        <h2 class="card-title text-3xl">
                            <a href="https://github.com/prysmaticlabs/prysm" class="text-grey-darkest">Prysm</a>
                        </h2>
                        <h4 class="card-subtitle text-grey-darkest text-sm">A full-featured client for the Ethereum 2.0 protocol, written in Go</h4>
                        <p class="py-4">
                            The <a class="text-primary" href="https://github.com/prysmaticlabs/prysm">Prysm</a> project is a Go implementation of the Ethereum 2.0 protocol as detailed by its <a href="https://github.com/ethereum/eth2.0-specs" target="_blank" class="text-primary">official specification</a>. It contains a full beacon node implementation as well as a validator client for participating in blockchain consensus. Prysm utilizes the best-in-class tools for production servers and interprocess communication, using Google's <a href="https://grpc.io/" class="text-primary">gRPC library</a>, BoltDB as an optimized, persistent, key-value store, and <a href="https://libp2p.io/" class="text-primary">libp2p</a> by Protocol Labs for all peer-to-peer networking.
                        </p>
                        <div>
                            <a class="button is-primary is-narrow shadow" target="_blank" href="https://docs.prylabs.network">Read the Docs</a>
                            <iframe class="github-widget is-hidden-touch" src="https://ghbtns.com/github-btn.html?user=prysmaticlabs&repo=prysm&type=star&count=true&size=large"
                                    frameborder="0" scrolling="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full lg:w-1/2">
                <div class="project-card small-project flex flex-wrap text-left m-6">
                    <div class="w-full">
                        <div>
                            <img src="./assets/eth2.svg"/>
                        </div>
                    </div>
                    <div class="w-full px-6 pt-4 pb-8">
                        <h2 class="text-2xl">
                            <a href="https://launchpad.ethereum.org/" class="text-grey-darkest">Eth2 Mainnet Phase 0</a>
                        </h2>
                        <h4 class="text-grey-darkest text-sm">The official release of eth2</h4>
                        <p class="py-4">
                            Launched December 1st 2020, eth2 is a publicly accessible network running multiple client implementations participating in Ethereum 2.0 consensus based on the <a class="text-primary" href="https://github.com/ethereum/eth2.0-specs" target="_blank">formal specification</a> for the protocol. The official and only validator deposit contract is <a target="_blank" class="text-primary" href="https://etherscan.io/address/0x00000000219ab540356cbb839cbe05303d7705fa">0x00000000219ab540356cbb839cbe05303d7705fa</a>.
                            </p>
                        <p class="pb-4">Anyone across the world can sync with the network, stake 32 ETH, and participate in the protocol's consensus.
                        </p>
                        <div class="card-buttons">
                            <a class="button is-primary is-narrow shadow" target="_blank" href="https://launchpad.ethereum.org/">Join the Network</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full lg:w-1/2">
                <div class="project-card small-project flex flex-wrap text-left m-6">
                    <div class="w-full">
                        <div>
                            <img src="./assets/ethapis.svg"/>
                        </div>
                    </div>
                    <div class="w-full px-6 pt-4 pb-8">
                        <h2 class="text-2xl">
                            <a href="https://github.com/prysmaticlabs/ethereumapis" class="text-grey-darkest">Ethereum 2.0 APIs</a>
                        </h2>
                        <h4 class="text-grey-darkest text-sm">Thoroughly-documented, schema-based API for Ethereum 2.0</h4>
                        <p class="py-4">
                            Our Ethereum 2.0 APIs are a collection of schema-based, protobuf APIs aimed to standardize the efforts for a common API interface used to query information about the blockchain.
                            </p>
                        <p class="pb-4">The API is also used for validator clients to interact with a running node for the sake of consensus.
                        </p>
                        <div class="card-buttons">
                            <a class="button is-primary is-narrow shadow" target="_blank" href="https://api.prylabs.network">Interact With the API</a>
                            <a class="is-hidden-touch ml-4 button bg-black-light shadow text-white" target="_blank" href="https://github.com/prysmaticlabs/ethereumapis">See it on Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="team" class="section team">
    <div class="container p-6">
        <div class="has-text-centered">
            <h1 class="title">
                Who <span class="text-primary">We</span> Are
            </h1>
            <img src="./assets/stripes.svg"/>
            <div class="flex justify-center pt-6 py-6">
                <div class=" md:w-1/2">
                    We are a team of individuals with a <b>deep understanding</b> of blockchain technology. With diverse backgrounds ranging from <b>distributed systems</b> to cloud computing, we emphasize a <b>test-driven approach</b> towards implementing the future of Ethereum.
                </div>
            </div>
        </div>
        <div class="flex flex-wrap">
            <team-item *ngFor="let item of teammates" [teammate]="item" class="text-left mt-8 md:w-1/2 flex flex-wrap"></team-item>
        </div>
    </div>
</section>
<section class="bg-near-pitch-black py-12 px-8">
    <div class="text-center text-white">
        <div>
            <p class="text-2xl">Stake on Ethereum Today</p>
        </div>
        <div class="m-3">
            <img src="./assets/icon.svg"/>
        </div>
        <div class="flex justify-center">
            <div class=" md:w-1/2 text-grey-light">
                Participate as a validator in the <a href="https://cryptocurrencyfacts.com/ethereum-2-0-explained/" target="_blank" class="font-bold text-primary">Ethereum 2.0</a> network today.
            </div>
        </div>
        <div class="flex justify-center mt-6">
            <div class=" md:w-1/2">
                <a class="read-more-btn bg-primary button text-white" href="https://docs.prylabs.network/docs/mainnet/joining-eth2" target="_blank">
                    Read the Docs
                </a>
            </div>
        </div>
    </div>
</section>
<section id="sponsors" class="section bg-grey-light">
    <div class="container text-center py-0">
        <h1 class="title pt-6">
            Sponsors & Grants
        </h1>
        <div class="flex justify-center">
            <div class=" md:w-1/2">
                Prysmatic Labs has received over <b>$2MM USD</b> from the following list of donors for which we are eternally grateful
            </div>
        </div>
        <div class="flex flex-wrap justify-center pt-6 pb-3">
            <div class="text-center md:w-1/4 w-full my-6">
                <div>
                    <a href="https://www.ethereum.org/foundation" alt="Ethereum" target="_blank">
                        <img class="sponsor-image" src="./assets/sponsors/Ethereum.svg" alt="Ethereum Foundation"/>
                    </a>
                </div>
                <div class="mt-2 font-bold">
                    Ethereum Foundation
                </div>
            </div>
            <div class="text-center md:w-1/4 w-full my-6">
                <div>
                    <a href="https://www.aragon.one" alt="argon-one" target="_blank">
                        <img class="sponsor-image" src="./assets/sponsors/aragonnest.svg" alt="aragonnest" />
                    </a>
                </div>
                <div class="mt-2 font-bold">
                    Aragon
                </div>
            </div>
            <div class="text-center md:w-1/4 w-full my-6">
                <div>
                    <a href="https://ecf.network" alt="ECF" target="_blank">
                        <img class="sponsor-image" src="./assets/sponsors/ECF.svg" alt="Ethereum Community Fund"/>
                    </a>
                </div>
                <div class="mt-2 font-bold">
                    Ethereum Community <br/>Fund
                </div>
            </div>
            <div class="text-center md:w-1/4 w-full my-6">
                <div>
                    <a href="https://district0x.io" alt="district0x" target="_blank">
                        <img class="sponsor-image" src="./assets/sponsors/district0x.svg" alt="district0x" />
                    </a>
                </div>
                <div class="mt-2 font-bold">
                    District0x
                </div>
            </div>
            <div class="text-center md:w-1/4 w-full my-6">
                <div>
                    <a href="https://spankchain.com" alt="Spank Chain" target="_blank">
                        <img class="sponsor-image" src="./assets/sponsors/SpankChain.svg" alt="Spank Chain"/>
                    </a>
                </div>
                <div class="mt-2 font-bold">
                    Spankchain
                </div>
            </div>
            <div class="text-center md:w-1/4 w-full my-6">
                <div>
                    <a href="https://www.wxblockchain.com/about_en.html" alt="Wanxiang" target="_blank">
                        <img class="sponsor-image" src="./assets/sponsors/wanxiang.png" alt="Wanxiang"/>
                    </a>
                </div>
                <div class="mt-2 font-bold">
                    Wanxiang Blockchain <br/>Labs
                </div>
            </div>
            <div class="text-center md:w-1/4 w-full my-6">
                <div>
                    <a href="https://vitalik.ca" alt="Vitalik Buterin" target="_blank">
                        <img class="sponsor-image" src="./assets/sponsors/vitalik.png" alt="Vitalik Buterin"/>
                    </a>
                </div>
                <div class="mt-2 font-bold">
                    Vitalik Buterin
                </div>
            </div>
            <div class="text-center md:w-1/4 w-full my-6">
                <div>
                    <a href="https://gitcoin.co" alt="Gitcoin" target="_blank">
                        <img class="sponsor-image" src="./assets/sponsors/gitcoin.png" alt="Gitcoin"/>
                    </a>
                </div>
                <div class="mt-2 font-bold">
                    Gitcoin
                </div>
            </div>
        </div>
    </div>
</section>

<section id="donate" class="bg-near-pitch-black py-12 px-8">
    <div class="text-center text-white">
        <div>
            <p class="text-2xl">Support Our Work 💰</p>
        </div>
        <div class="flex justify-center mt-4">
            <div class=" md:w-1/2 text-grey-light">
                The reason we're around today is due to incredible donations from the community to support development
                for the future of Ethereum. You can donate ETH or any tokens to our official ENS address <a href="https://etherscan.io/address/prysmatic.eth" target="_blank" class="text-primary font-bold">prysmatic.eth</a> or directly to <a class="text-primary font-bold" href="https://etherscan.io/address/0x9B984D5a03980D8dc0a24506c968465424c81DbE">0x9B984D5a03980D8dc0a24506c968465424c81DbE</a>.
            </div>
        </div>
        <div class="flex justify-center mt-6">
            <div class=" md:w-1/5">
                <a class="read-more-btn bg-primary button text-white" href="https://etherscan.io/address/prysmatic.eth" target="_blank">
                    Donate Today
                </a>
            </div>
        </div>
    </div>
</section>

<section id="news" class="section">
    <div class="container">
        <h1 class="title">News <span class="text-primary">&</span> Media</h1>
        <div class="flex flex-wrap pt-6">
            <div class="lg:w-1/2">
                <div class="bg-white shadow-lg">
                    <div class="flex flex-wrap pt-6 px-6">
                        <news-item *ngFor="let item of news" [newsItem]="item" class="mb-6 flex flex-wrap"></news-item>
                    </div>
                </div>
            </div>
            <div class="pt-8 lg:w-1/2 lg:px-8 lg:pt-0">
                <strong class="text-xl">🔥 Featured Podcasts 🔥</strong>
                <div class="mt-6">
                    <podcast-item *ngFor="let item of podcasts" [podcast]="item" class="mb-6"></podcast-item>
                </div>
            </div>
        </div>
        <div class="lg:my-8 mt-2 mb-6 is-hidden-touch">
            <strong class="text-xl">🎬 Featured Videos 🎬</strong>
        </div>
        <div class="flex flex-wrap is-hidden-touch">
            <video-item *ngFor="let item of videos" [video]="item" class="md:w-1/3 md:pr-8"></video-item>
        </div>
    </div>
</section>
