<section #colorChange class="hero is-medium planet-background prysmatic-hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds">
                    <div class="container">
                        <h1 class="title text-white is-size-2">
                            Building public infrastructure for the future of the web
                        </h1>
                        <h2 class="subtitle text-grey pt-2 text-2xl">
                            We are a passionate team of <b class="text-grey-light">software engineers</b> who believe in building a
                            more fair, open, and <b class="text-teal-light">censorship-resistant</b> internet through the <b class="text-pink">Ethereum</b> blockchain
                        </h2>
                    </div>
                </div>
                <div class="column">
                    <img src="./assets/PrysmStripe.png" alt="prysm" class="has-text-centered" />
                    <h2 id="prismatic-labs-title" class="prysmatic-labs-title-color title flex justify-center is-hidden-touch" >Prysmatic Labs</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container text-center pb-0">
        <h1 class="title pt-6">
            Our Expertise
        </h1>
        <div class="flex justify-center pt-0 py-6">
            <div class=" md:w-1/2">
                Prysmatic Labs currently builds technical infrastructure for the Ethereum blockchain. Our mission is to increase adoption through better tooling for users and developers of the Ethereum ecosystem through our expertise.
            </div>
        </div>
        <img src="./assets/stripes.svg"/>
        <div class="mt-6 flex flex-wrap justify-center">
           <div class="w-full md:w-1/3 pt-4">
               <div class="text-center smart-contract">
                   <img src="./assets/smartcontract.svg"/>
               </div>
               <div class="py-4 px-8">
                   Our flagship project, <a class="text-primary" href="https://cryptocurrencyfacts.com/ethereum-2-0-explained/" target="_blank">Prysm</a>, is a production client for <a class="text-primary" href="https://blog.sfox.com/ethereum-2-0-what-the-next-three-years-of-ethereum-will-look-like-b366a46f9704">Ethereum Serenity</a> anyone can freely use to participate in consensus of the blockchain.
               </div>
           </div>
            <div class="w-full md:w-1/3 pt-4">
                <div class="text-center smart-contract">
                    <img src="./assets/server.svg"/>
                </div>
                <div class="py-4 px-8">
                    We believe industry standards are a must for creating robust code. We build our technologies with the best-in-class tooling and design in mind.
                </div>
            </div>
            <div class="w-full md:w-1/3 pt-4">
                <div class="text-center smart-contract">
                    <img src="./assets/world.svg"/>
                </div>
                <div class="py-4 px-6">
                    Our work is free, <a class="text-primary" href="https://github.com/prysmaticlabs">open source</a>, and accessible everywhere. We believe in empowering developers to build a more fair and transparent Internet.
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section bg-near-pitch-black py-20">
    <div class="container">
        <div class="flex">
            <div class="w-full md:w-2/3">
                <h2 class="title text-grey">
                    <span class="text-primary">Why</span> Ethereum?
                </h2>
                <div class="text-white">
                    We are strong believers in Ethereum, a public blockchain that allows anyone to build unstoppable, censorship-resistant applications. On Ethereum, anyone can deploy software that controls digital value and is accessible the world. Born in 2014, the Ethereum network houses over $20 billion worth of value today, hosting projects such as:
                    <ul class="py-4">
                        <li>
                            <span class="text-xl">—</span> Global, decentralized organizations
                        </li>
                        <li>
                            <span class="text-xl">—</span> Non-reserve backed, stable-value currencies
                        </li>
                        <li>
                            <span class="text-xl">—</span> Provably scarce, digital collectibles
                        </li>
                    </ul>
                    We believe Ethereum represents a fundamental shift in how the Internet works and are dedicated to its mission.
                </div>
                <div class="mt-6">
                    <a class="read-more-btn bg-black-light button text-grey-light text-sm" href="https://ethereum.org" target="_blank">
                        Read More About Ethereum
                    </a>
                </div>
            </div>
            <div class="w-full md:w-1/3 text-center is-hidden-mobile">
                <div class="cloud-eth pt-10">
                    <img src="./assets/cloudeth.svg"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="projects" class="section projects-background">
    <div class="container text-center">
        <h1 class="title pt-6">
            Our Projects
        </h1>
        <div class="flex justify-center pt-2 pb-4">
            <div class=" md:w-1/2">
                Our work on the Ethereum protocol focuses on usability, security, and reliability as key pillars backed by extensive testing and carefully  designed code.
            </div>
        </div>
        <div class="flex flex-wrap">
            <div class="w-full">
                <div class="main-project project-card flex flex-wrap text-left pb-0 ml-6 mb-6 mr-6 mt-8">
                    <div class="w-full md:w-1/4 pb-0">
                        <div class="main-project-img">
                            <img src="./assets/drawnbg.png"/>
                        </div>
                    </div>
                    <div class="w-full md:w-3/4 pt-8 px-8 pb-8">
                        <h2 class="card-title text-3xl">
                            <a href="https://github.com/prysmaticlabs/prysm" class="text-grey-darkest">Prysm</a>
                        </h2>
                        <h4 class="card-subtitle text-grey-darkest text-sm">A full-featured client for the Ethereum Serenity protocol, written in Go</h4>
                        <p class="py-4">
                            The <a class="text-primary" href="https://github.com/prysmaticlabs/prysm">Prysm</a> project is a Go implementation of Ethereum Serenity protocol as detailed by its <a href="https://github.com/ethereum/eth2.0-specs" target="_blank" class="text-primary">official specification</a>. It contains a full beacon node implementation as well as a validator client for participating in blockchain consensus. Prysm utilizes the best-in-class tools for production servers and interprocess communication, using Google's <a href="https://grpc.io/" class="text-primary">gRPC library</a>, BoltDB as an optimized, persistent, key-value, and <a href="https://libp2p.io/" class="text-primary">libp2p</a> by Protocol Labs for all peer-to-peer networking.
                        </p>
                        <div>
                            <a class="button is-primary is-narrow shadow" target="_blank" href="https://prysmaticlabs.gitbook.io/prysm/">Read the Docs</a>
                            <iframe class="github-widget" src="https://ghbtns.com/github-btn.html?user=prysmaticlabs&repo=prysm&type=star&count=true&size=large"
                                    frameborder="0" scrolling="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2">
                <div class="project-card small-project flex flex-wrap text-left m-6">
                    <div class="w-full">
                        <div>
                            <img src="./assets/eth2.svg"/>
                        </div>
                    </div>
                    <div class="w-full px-6 pt-4 pb-8">
                        <h2 class="text-2xl">
                            <a href="https://prylabs.net" class="text-grey-darkest">The Sapphire Public Testnet</a>
                        </h2>
                        <h4 class="text-grey-darkest text-sm">A public test network for Ethereum Serenity</h4>
                        <p class="py-4">
                            Launched in May 2019, the Sapphire Test Network is a publicly accessible network running real Prysm nodes participating in Ethereum Serenity consensus including <a class="text-primary" href="https://blockgeeks.com/guides/ethereum-casper/" target="_blank">Casper Proof of Stake</a>.
                            </p>
                        <p class="pb-4">Anyone across the world can sync with the network, stake 3.2 test ETH, and participate in the protocol's consensus.
                        </p>
                        <div class="card-buttons">
                            <a class="button is-primary is-narrow shadow" target="_blank" href="https://prylabs.net">Join the Network</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2">
                <div class="project-card small-project flex flex-wrap text-left m-6">
                    <div class="w-full">
                        <div>
                            <img src="./assets/ethapis.svg"/>
                        </div>
                    </div>
                    <div class="w-full px-6 pt-4 pb-8">
                        <h2 class="text-2xl">
                            <a href="https://github.com/prysmaticlabs/ethereumapis" class="text-grey-darkest">Ethereum Serenity APIs</a>
                        </h2>
                        <h4 class="text-grey-darkest text-sm">Thoroughly-documented, schema-based API for Ethereum Serenity</h4>
                        <p class="py-4">
                            Ethereum Serenity APIs are a collection of schema-based, protobuf APIs aimed to standardize the efforts for a common API interface used to query information about the blockchain.
                            </p>
                        <p class="pb-4">The API is also used for validator clients to interact with a running node for the sake of consensus.
                        </p>
                        <div class="card-buttons">
                            <a class="button is-primary is-narrow shadow" target="_blank" href="https://api.prylabs.network">Interact With the API</a>
                            <a class="ml-4 button bg-black-light shadow text-white" target="_blank" href="https://github.com/prysmaticlabs/ethereumapis">See it on Github</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="team" class="section team">
    <div class="container p-6">
        <h1 class="title">Who <span class="text-primary">We</span> Are</h1>
        <div class="flex">
            <div class="md:w-1/2">
                We are a team of individuals with a deep understanding of the Ethereum protocol. With diverse backgrounds ranging from distributed systems to cloud computing, we emphasize a test driven approach to implementing the future of Ethereum.
            </div>
        </div>
        <div class="mt-8">
            <img src="./assets/stripes.svg"/>
        </div>
        <div class="flex flex-wrap">
            <team-item *ngFor="let item of teammates" [teammate]="item" class="text-left mt-8 md:w-1/2 flex flex-wrap"></team-item>
        </div>
    </div>
</section>
<section class="bg-near-pitch-black py-12 px-8">
    <div class="text-center text-white">
        <div>
            <p class="text-2xl">Join Our Public Ethereum Testnet</p>
        </div>
        <div class="m-3">
            <img src="./assets/icon.svg"/>
        </div>
        <div class="flex justify-center">
            <div class=" md:w-1/2 text-grey-light">
                Participate as a validator in our public Ethereum Serenity test network today - sync with a full proof of stake Ethereum blockchain today and help us improve our work on the cutting-edge.
            </div>
        </div>
        <div class="flex justify-center mt-6">
            <div class=" md:w-1/2">
                <a class="read-more-btn bg-primary button text-white text-sm" href="https://prylabs.net" target="_blank">
                    Participate Today
                </a>
            </div>
        </div>
    </div>
</section>
<section id="news" class="section bg-grey-light">
    <div class="container bg-grey-light">
        <h1 class="title">News <span class="text-primary">&</span> Media</h1>
        <div class="flex flex-wrap">
            <div class="md:w-1/2">
                <div class="bg-white shadow-md">
                   <div class="flex flex-wrap pt-6 px-6">
                       <news-item *ngFor="let item of news" [newsItem]="item" class="mb-6 flex flex-wrap"></news-item>
                   </div>
                </div>
            </div>
            <div class="md:w-1/2 md:px-8 pt-8 md:pt-0">
                <strong class="text-xl">🔥 Featured Podcasts 🔥</strong>
                <div class="mt-6">
                    <podcast-item *ngFor="let item of podcasts" [podcast]="item" class="mb-6"></podcast-item>
                </div>
            </div>
        </div>
        <div class="md:my-8 mt-2 mb-6 is-hidden-mobile">
            <strong class="text-xl">🎬 Featured Videos 🎬</strong>
        </div>
        <div class="flex flex-wrap is-hidden-mobile">
            <video-item *ngFor="let item of videos" [video]="item" class="md:w-1/3 md:pr-8"></video-item>
        </div>
    </div>
</section>
<section id="sponsors" class="section">
    <div class="container text-center py-0">
        <h1 class="title pt-6">
            Sponsors & Grants
        </h1>
        <div class="flex justify-center">
            <div class=" md:w-1/2">
                Prysmatic Labs has received over $1.5MM USD from the following list of donors for which we are eternally grateful
            </div>
        </div>
        <div class="flex flex-wrap justify-center pt-6 pb-3">
            <div class="text-center md:w-1/5 w-full my-6">
                <div>
                    <a href="https://www.ethereum.org/foundation" alt="Ethereum" target="_blank">
                        <img class="sponsor-image" src="./assets/sponsors/Ethereum.svg" alt="Ethereum Foundation"/>
                    </a>
                </div>
                <div>
                    Ethereum Foundation
                </div>
            </div>
            <div class="text-center md:w-1/5 w-full my-6">
                <div>
                    <a href="https://www.aragon.one" alt="argon-one" target="_blank">
                        <img class="sponsor-image" src="./assets/sponsors/aragonnest.svg" alt="aragonnest" />
                    </a>
                </div>
                <div>
                    Aragon
                </div>
            </div>
            <div class="text-center md:w-1/5 w-full my-6">
                <div>
                    <a href="https://ecf.network" alt="ECF" target="_blank">
                        <img class="sponsor-image" src="./assets/sponsors/ECF.svg" alt="Ethereum Community Fund"/>
                    </a>
                </div>
                <div>
                    Ethereum Community <br/>Fund
                </div>
            </div>
            <div class="text-center md:w-1/5 w-full my-6">
                <div>
                    <a href="https://district0x.io" alt="district0x" target="_blank">
                        <img class="sponsor-image" src="./assets/sponsors/district0x.svg" alt="district0x" />
                    </a>
                </div>
                <div>
                    District0x
                </div>
            </div>
            <div class="text-center md:w-1/5 w-full my-6">
                <div>
                    <a href="https://spankchain.com" alt="Spank Chain" target="_blank">
                        <img class="sponsor-image" src="./assets/sponsors/SpankChain.svg" alt="Spank Chain"/>
                    </a>
                </div>
                <div>
                    Spankchain
                </div>
            </div>
            <div class="text-center md:w-1/5 w-full my-6">
                <div>
                    <a href="https://www.wxblockchain.com/about_en.html" alt="Wanxiang" target="_blank">
                        <img class="sponsor-image" src="./assets/sponsors/wanxiang.png" alt="Wanxiang"/>
                    </a>
                </div>
                <div>
                    Wanxiang Blockchain Labs
                </div>
            </div>
            <div class="text-center md:w-1/5 w-full my-6">
                <div>
                    <a href="https://vitalik.ca" alt="Vitalik Buterin" target="_blank">
                        <img class="sponsor-image" src="./assets/sponsors/vitalik.png" alt="Vitalik Buterin"/>
                    </a>
                </div>
                <div>
                    Vitalik Buterin
                </div>
            </div>
            <div class="text-center md:w-1/5 w-full my-6">
                <div>
                    <a href="https://gitcoin.co" alt="Gitcoin" target="_blank">
                        <img class="sponsor-image" src="./assets/sponsors/gitcoin.png" alt="Gitcoin"/>
                    </a>
                </div>
                <div>
                    Gitcoin
                </div>
            </div>
        </div>
    </div>
</section>