.donations-container {
  border-bottom: 0px;
  text-align: center;
}

.donations-container > a {
  font-size: 30px;
  color: #eb4a9d;
  overflow-wrap: break-word;
}

.donations-container > a:hover {
  color: #52b0f8;
}

.donations-container p, h2 {
  text-align: left;
}

.donors {
  display: flex;
  margin-top: 4%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.donor {
  margin-right: 2%
}

.donor p {
  font-size: 28px;
  text-align: center;
}

.donor img {
  height: 300px;
  transition: all 0.75s;
}

.donor:hover img {
  transform: scale(1.1);
}

@media only screen and (max-width: 963px) {
  .donors {
    justify-content: center;
  }

  .donor {
    margin-right: 5%;
  }
}