
<div class="top-space text-center">
    <img src="./assets/drawn.png"/>
</div>
<section class="section mt-10">
    <div class="container text-center pb-0">
        <h1 class="title lg:pt-4 mb-0 pt-0">
            Prysmatic Labs Software Engineer 
        </h1>
        <h3 class="mb-8 text-2xl">Remote, Full-Time Position</h3>
        <img src="./assets/stripes.svg"/>
        <div class="flex justify-center pt-6 py-6" style="color: #000000;">
            <div class="w-full md:w-3/4 text-left">
                <h2 class="title">Background</h2>
                <p>
                    <a href="https://prysmaticlabs.com" class="text-primary font-bold">Prysmatic Labs</a> currently builds technical infrastructure for the <a href="https://ethereum.org" class="text-primary font-bold">Ethereum</a> blockchain, building a more fair, open, and censorship-resistant Internet. On Ethereum, anyone can deploy software that controls digital value and is accessible around the world. Born in 2014, the Ethereum network houses billions of dollars worth of value today, hosting projects such as:
                </p>
                <ul class="py-4">
                    <li>
                        <span class="text-xl">—</span> Global, decentralized organizations
                    </li>
                    <li>
                        <span class="text-xl">—</span> Non-reserve backed, stable-value currencies
                    </li>
                    <li>
                        <span class="text-xl">—</span> Fully-open, permissionless, financial applications
                    </li>
                </ul>
                <p class="mb-6">
                    We believe Ethereum represents a fundamental shift in how financial and coordination systems operate. Our work is open source and accessible to anyone around the world, and we are seeking individuals that also align with these values.
                </p>
                <p class="mb-10">
                    <span class="font-bold">We are looking for a remote, full-time software engineer to keep pushing the envelope on decentralized technologies</span>.
                </p>
                <h2 class="title">What We Build</h2>
                <p class="mb-6">
                    The Ethereum blockchain today suffers from a key set of problems, using a wasteful proof of work algorithm in which miners around the world spend large amounts of electricity to package transactions into blocks. For over 4 years, researchers have been working on a better, more efficient consensus algorithm known as proof of stake along with a scalability method for the system known as sharding. No blockchain so far has been able to find the right balance of security, scalability, and decentralization, and we are thrilled to work on the cutting-edge every day to accomplish this task.
                </p>
                <p class="mb-6">
                    We’re currently building the foundational code behind the future of the Ethereum project. <span class="font-bold">Our flagship project, Prysm, is a full implementation of the next generation Ethereum blockchain written in Golang. Prysm utilizes the best-in-class tools for production servers and interprocess communication, using Google's gRPC library, Docker, Kubernetes, and more.</span>
                </p>
                <p class="mb-10">
                    At Prysmatic Labs, the lines of code you write will be mission critical towards securing a multi-billion dollar network. 
                </p>
                <h2 class="title">Who We Are</h2>
                <p class="mb-6">
                    Prysmatic Labs started in early 2018 after a few of us on our team were curious about contributing to blockchain technology and posted on reddit and various forums trying to find other similar individuals to contribute to open source code. We realized scalability was the biggest problem the Ethereum blockchain was facing and wanted to take a stab at it given there was little work on the matter happening at that time. Our teammates have significant experience as software engineers having worked on cloud, networking, and systems design at enterprises such as Google and Riverbed Technologies.
                </p>
                <p class="mb-10">
                    We all began as volunteers writing Go code to implement a minimal sharding specification for Ethereum during our free time, and were noticed by the Ethereum Foundation and a few other groups for the work we were doing. Since the early days as a hobby project until today, we have received over $2 million USD in grants and donations to work on Ethereum full-time. Today, we love to work at Prysmatic because of our motivation to build revolutionary technology while having fun doing so – the same reasons we started this project in the first place. 
                </p>
                <h2 class="title">Our Core Values</h2>
                <p class="mb-6 text-2xl">

                        <i>“Software engineering is what happens to programming when you add time and other programmers”</i>
                        — Russ Cox
                </p>
                <p class="mb-6">

                    <span class="font-bold">We believe good software engineering is more about excellent communication, careful design decisions, and problem solving rather than knowing the internals of a code library or API</span>. At Prysmatic, we’re not afraid to look at documentation, stack overflow, and any other sources of information that can help us get the job done. Instead, we prioritize designing straightforward software solutions from first principles, creating design documents before writing any code.
                </p>
                <p class="mb-6">
                    Code quality is our most critical ingredient to keeping our platform open. Before we write new features, we focus on high quality testing, documentation, and ensuring code is maintainable. <span class="font-bold">Our team uses a variety of technologies, including <a href="https://golang.org" class="text-primary font-bold">Golang</a>, Docker, and <a href="https://kubernetes.io" class="text-primary font-bold">Kubernetes</a> to build the best possible suite of tools for blockchain technology</span>. We believe good software engineers can pick up new technologies and learn how to use the best tools for the job rather than being nitpicky about being an expert in a specific framework or package. 
                </p>
                <p class="mb-10">
                    <span class="font-bold">We do not work as lone wolves, “rockstar coders”, or “10x devs.”</span> Instead, we focus on deep teamwork to write code that lasts the test of time. We focus being concise rather than being clever. We care not only about the quality of our work but also about how we work together. It is the camaraderie, motivation, and fun we all have that makes working at Prysmatic a special experience. The code we write is mission critical towards securing billions of dollars and a powerful, new financial system. We all take good care and ownership of our code, and we’ll expect you to do the same when joining the team.
                </p>
                <h2 class="title">Requirements</h2>
                <p class="mb-6">
                    We’re searching for a highly-motivated, team-oriented, and inquisitive learner to build great software with us. Upon joining our team, you’ll be fully involved in the design and code review process, have autonomy to take over non-trivial features from end-to-end. 
                </p>
                <h2 class="text-2xl">
                    The <span class="font-bold">hard requirements</span> for this position are as follows:
                </h2>
                <ul class="bullet py-4">
                    <li>
                        Significant experience as a Software Engineer, having worked on a team, participated in the design and code review process, and <span class="font-bold">having not only shipped products, but successfully landed them</span>
                    </li>
                    <li>
                        A foundational understanding of Computer Science and a strong grasp on fundamentals, both in theory and in practice
                    </li>
                </ul>
                <h2 class="text-2xl">
                    Bonus points for the following:
                </h2>                    
                <ul class="bullet py-4 mb-10">
                    <li>
                        Knowledge of <a href="https://golang.org" class="text-primary font-bold">Golang</a>, its internals, and its limitations
                    </li>
                    <li>
                        Knowledge of distributed systems, systems architecture, systems programming
                    </li>
                    <li>
                        Knowledge of Ethereum or blockchain-related technologies
                    </li>
                </ul>
                <h2 class="title">The Role</h2>
                <p class="text-2xl">
                    In one month, you will have:
                </p>
                <ul class="bullet py-4 mb-6">
                    <li>
                        Learned about the Ethereum blockchain’s internals, its roadmap, and the internals of our flagship project, Prysm, which will serve as the backbone for Ethereum’s next big upgrade
                    </li>
                    <li>
                        Learned about our design and code review process, participate in itemizing your tasks into smaller ones based on tracking issues on Github, and contribute to code health across our project
                    </li>
                    <li>
                        Worked with the full team on understanding our cloud architecture using Kubernetes, learning about instrumentation, debugging distributed systems, and production release
                    </li>
                    <li>
                        Participated with other teammates in being the first line of defense against network failures, outages, and unexpected scenarios using instrumentation and best practices
                    </li>
                </ul>
                <p class="text-2xl">
                    In six months, you will have:
                </p>
                <ul class="bullet py-4 mb-6">
                    <li>
                        Have taken ownership of several features from end to end on our roadmap through maintainable code with good tests, documentation, and clear design principles
                    </li>
                    <li>
                        Integrated and write your own instrumentation pipelines for analyzing the Ethereum 2.0 network through our cloud infrastructure
                    </li>
                    <li>
                        Engaged with the core researchers behind the Ethereum 2.0 protocol on biweekly video calls and design discussionss
                    </li>
                    <li>
                        Optimized mission-critical distributed and concurrent systems
                    </li>
                    <li>
                        A deeper understanding of blockchain technology, cryptography, p2p networking, and systems architecture
                    </li>
                </ul>
                <p class="text-2xl">
                    In one year, you will have:
                </p>
                <ul class="bullet py-4 mb-10">
                    <li>
                        Built up your engineering skills by attending presentations, workshops, and other speaking engagements on behalf of Prysmatic Labs
                    </li>
                    <li>
                        Shipped the real, live 2.0 Ethereum blockchain with proof of stake and sharding to production, marking one of the most exciting milestones in modern Computer Science
                    </li>
                    <li>
                        Mentored future team-members and junior developers, helping them level up technically
                    </li>
                    <li>
                        Identified and prevented large amounts of technical debt in our repositories through solid design principles and large-scale optimization
                    </li>
                    <li>
                        Worked on the next steps of the Ethereum 2.0 roadmap, including WebAssembly runtime environments and p2p networking innovations
                    </li>
                </ul>
                <h2 class="title">Benefits</h2>
                <p class="mb-6">
                    Your personal success is paramount to the team’s success. We believe this opportunity is once-in-a-lifetime, allowing us to work on open source software with passionate engineers working on a cutting-edge solution the world has never seen. Every line of code you write will be mission critical in securing billions of dollars in value and we want to offer you solid benefits to make your experience working with us exciting and personally fulfilling.
                </p>
                <p>
                    The benefits we offer include:
                </p>
                <ul class="bullet py-4 mb-10">
                    <li>
                        Insurance <span class="font-bold">(Medical, Life, Vision/Dental)</span> options that are built for both individuals and families, including almost full company contributions
                    </li>
                    <li>
                        Competitive salary and bonus
                    </li>
                    <li>
                        <span class="font-bold">A fully-remote working experience</span>, with paid travel with the team to key, important conferences for Ethereum such as Devcon (previously hosted in Osaka, Prague, and other cities)
                    </li>
                    <li>
                        Unlimited PTO
                    </li>
                    <li>
                        Autonomy and ownership of important features that will go live and secure billions of dollars in the Ethereum network
                    </li>
                    <li>
                        Being part of a journey to <span class="font-bold">develop something the world has not seen before</span>, building a truly scalable, decentralized, and secure blockchain
                    </li>
                </ul>
                <h2 class="title">Apply Today!</h2>
                <p class="mb-6">
                    If all of this sounds interesting to you, we’d love to chat! We really believe this is a one-of-a-kind opportunity and are thrilled to work with others that share the same passion for challenging, yet fun problems in software engineering. 
                </p>
                <p>
                    To apply, follow these steps:
                </p>
                <ul class="bullet py-4">
                    <li>
                        Submit your resume and an introduction about yourself, background, and what got you interested in this position to <a href="mailto:hiring@prysmaticlabs.com" class="font-bold text-primary text-lg">hiring@prysmaticlabs.com</a>
                    </li>
                    <li>
                        Attach any relevant links to your prior work, including Github, personal website, and others to the email
                    </li>
                </ul>
                <p class="mb-6">
                    In terms of next steps, we’ll follow-up with you if we think there is a fit, and we will then schedule an initial phone screening followed by technical interviews. If we decide to proceed, you’ll receive a full-time offer from us. We’ll expect you to begin work as soon as possible after receiving an offer. 
                </p>
                <p>
                    Prysmatic Labs is proudly an Equal Opportunity Employer and does not discriminate based upon race, religion, color, national origin, sex, sexual orientation, gender identity, gender expression, age, status as a protected veteran, status as an individual with a disability, genetic information,marital status, order of protection status, citizenship status, or other applicable legally protected characteristics. 
                </p>
            </div>
        </div>
    </div>
</section>