<section class="section mt-2">
    <div class="container text-center pb-0">
        <h1 class="title lg:pt-4 mb-0 pt-0">
            Prysmatic Labs Careers
        </h1>
        <h3 class="mb-8 text-2xl">Open Positions</h3>
        <img src="./assets/stripes.svg"/>
        <div class="flex justify-center pt-6 py-6" style="color: #000000;">
            <div class="w-full md:w-3/4 text-left text-center">
                <ul>
                    <li>
                    <li>
                        <a href="/careers/security" class="text-lg">Go Security Software Engineer</a>
                    </li>
                    <li>
                        <a href="/careers/sdet" class="text-lg">Software Development Engineer In Test (SDET)</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
