.bullet > li {
    list-style-type: none;
    position: relative;
}

.bullet > li::before {
    content: '■';
    font-size: 25px;
    padding-right: 8px;
    
}

.top-space {
    height: 150px;
    background-image: url("/assets/backgrounds/prysm-space.svg");
    background-size: cover;
}