@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700|Work+Sans|Open+Sans');
/* open sans seems to be a bit more elegant than work sans */
/* Oxygen is perfect for Prysmatic Labs name*/
/* can't decide if Work Sans or Open Sans should be big headers */


body {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: Open Sans;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: Work Sans;
  color: white;
  text-decoration: none;
}

a:hover{
  color: #eb4a9d;
}

blue {
  color: #52b0f8;
}

pink {
  color: #eb4a9d;
}

yel {
  color: #fbe5a0;
}

#name {
  font-family: Oxygen;
}

.app {
  color: white;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  border-bottom: 4px solid #52b0f8;
}


.navbar-item {
  margin-left: 20px;
  font-size: 22px;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

.logo {
  height: 60px;
  width: auto;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
  img { width: 100%; height: auto; }
}

.jumbo {
  display: grid;
  justify-content: center;
  font-size: 36px;
  flex: 1;
}

.jumbo > img {
  height: 300px;
}

.intro {
  flex: 1.5;
}

.intro h2 {
  color: #eb4a9d;
  font-size: 36px;
}

.intro p {
  font-size: 22px;
}

.split-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  border-bottom: 4px solid #eb4a9d;
}

.team-container {
  margin-left: 3%;
  margin-right: 3%;
}

.team-container h2 {
  color: #52b0f8;
}

.team-card-container {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.team-member {
  width: 200px;
  height: 300px;
}

.team-member img {
  height: auto;
  width: 200px;
}

.team-member-title {
  color: #eb4a9d;
  font-size: 16px;
}

.team-member-info {
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .app {
      margin-left: 10px;
      margin-right: 10px;
    }
    .team-container {
      justify-content: center;
    }
}