@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700|Work+Sans');

body {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: Work Sans;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oxygen;
}

.app {
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-size: 30px;
}

.col {
  margin-right: 3%;
}

.logo {
  height: 120px;
  width: auto;
}