@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700|Work+Sans');

body {
  height: 100%;
  width: 100%;
  background-color: black;
  font-family: Work Sans;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oxygen;
}

.app {
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  border-bottom: 2px solid #eb4a9d;
}

.navbar:after {
  border-bottom-width: 1px;
  border-bottom-color: #eb4a9d;
}


.navbar-item {
  margin-left: 20px;
  font-size: 20px;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

.logo {
  height: 40px;
  width: auto;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
  img { width: 100%; height: auto; }
}


.jumbo {
  display: grid;
  justify-content: center;
  font-size: 36px;
  margin-bottom: 40px;
}

.jumbo > img {
  height: 300px;
}

.team-container {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-left: 1%;
}

.team-member {
  width: 250px;
  height: auto;
  margin-bottom: 1%;
  margin-right: 2%;
}