.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fade-in 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  padding-bottom: 0px;
}

.navbar-logo {
  height: 60px;
  width: auto;
  animation: float 4s ease-in-out infinite;
}

.navbar-item {
  margin-left: 20px;
  font-size: 22px;
  position: relative;
  top: 0px;
  transition: top ease 0.25s;
}

.navbar-item:hover {
  top: -5px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

@media only screen and (max-width: 825px) {
    .navbar, .navbar-links {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
    }
}